Repository axios/axios, pull requests merged in 2020-06, with the labels that each got.

#2860 Add test with Node.js 12
  .travis.yml
Labels: v0.20.0

#1845 Allow unsetting headers by passing null (#382)
  lib/core/dispatchRequest.js
  lib/utils.js
  test/specs/headers.spec.js
  test/specs/utils/deepMerge.spec.js
Labels: status:work in progress

#3029 Add GitHub actions to close stale issues/prs
  .github/workflows/stale.yml
Labels: type:enhancement

#3031 Update close-issues.yml
  .github/workflows/close-issues.yml
Labels: type:enhancement

#3050 add table of content (preview)
  README.md
Labels: type:documentation

#1900 Adding support for URLSearchParams in node
  README.md
Labels: status:work in progress
