Repository axios/axios, pull requests merged in 2020-03, with the labels that each got.

#2661 Adding option to disable automatic decompression
  README.md
  index.d.ts
  lib/adapters/http.js
  test/unit/adapters/http.js
Labels: env:node

#1996 Adding tests for method `options` type definitions
  test/typescript/axios.ts
Labels: feature:typescript

#2191 Allow PURGE method in typings
  index.d.ts
Labels: feature:typescript

#2470 Fixing getting local files (file://) failed
  lib/core/settle.js
  test/specs/requests.spec.js
Labels: status:ready-to-merge

#2851 Fixing 'progressEvent' type
  index.d.ts
  test/typescript/axios.ts
Labels: feature:typescript
