Repository axios/axios, pull requests merged in 2020-10, with the labels that each got.

#3237 Fixing node types
  index.d.ts
Labels: component:typescript, v0.20.1

#3282 fix axios.delete ignores config.data
  lib/core/Axios.js
  test/specs/requests.spec.js
Labels: v0.20.1

#3200 Fixing an issue that type 'null' and 'undefined' is not assignable to validateStatus when typescript strict option is enabled
  index.d.ts
  test/typescript/axios.ts
Labels: component:typescript, v0.20.1

#2797 Updating axios in types to be lower case
  index.d.ts
Labels: component:typescript
