Repository axios/axios, pull requests merged in 2021-03, with the labels that each got.

#3681 Change homepage link to https://axios-http.com
  package.json
Labels: type:documentation

#3694 [Updated] follow-redirects version
  package.json
Labels: priority:high, type:confirmed bug

#3707 Update README.md
  README.md
Labels: type:documentation

#3712 [Updated] karma sauce launcher
  package.json
Labels: type:confirmed bug
