Repository axios/axios, pull requests merged in 2021-09, with the labels that each got.

#2795 Allow axios.create(options) to be used recursively
  lib/axios.js
Labels: type:feature

#2831 declare types entry in package.json
  package.json
Labels: component:typescript

#2872 Exposing the Axios constructor in index.d.ts
  index.d.ts
Labels: component:typescript

#2995 Improved type-safety for AxiosRequestConfig
  index.d.ts
  test/typescript/axios.ts
Labels: component:typescript

#3002 Make the default type of response data never
  index.d.ts
  test/typescript/axios.ts
Labels: component:typescript

#3021 Change headers type to string record
  index.d.ts
Labels: component:typescript

#2880 Caseless header comparing in HTTP adapter.
  lib/adapters/http.js
  test/unit/adapters/http.js
Labels: to-close

#3305 Fixed cancelToken leakage; Added AbortController support;
  README.md
  index.d.ts
  lib/adapters/http.js
  lib/adapters/xhr.js
  lib/cancel/CancelToken.js
  lib/core/dispatchRequest.js
  package.json
  test/specs/cancel.spec.js
  test/unit/adapters/http.js
Labels: type:future proposal
