Repository axios/axios, pull requests merged in 2021-05, with the labels that each got.

#3738 Fixing quadratic runtime and extra memory usage when setting a maxContentLength
  lib/adapters/http.js
Labels: priority:high

#3781 Adding parseInt to config.timeout
  lib/adapters/http.js
  test/unit/adapters/http.js
Labels: type:enhancement

#3803 Add explanation of cancel token
  README.md
Labels: type:documentation
