Repository axios/axios, pull requests merged in 2022-05, with the labels that each got.

#4659 Include request and config when creating a `CanceledError`.
  lib/adapters/http.js
  lib/adapters/xhr.js
  lib/cancel/CanceledError.js
Labels: follow-up

#4201 Fix TS definition for AxiosRequestTransformer
  index.d.ts
Labels: component:typescript, follow-up

#4436 Resolving proxy from env on redirect
  lib/adapters/http.js
  package.json
  test/unit/adapters/http.js
Labels: priority:high, follow-up

#4344 Expand isAxiosError types
  index.d.ts
Labels: component:typescript, follow-up

#4224 types: allow type definition for axios instance methods
  index.d.ts
Labels: component:typescript, follow-up

#4322 add `string[]` to `AxiosRequestHeaders` type
  index.d.ts
Labels: component:typescript, follow-up

#4334 Fixing AxiosRequestHeaders typings
  index.d.ts
Labels: component:typescript, follow-up

#4293 fix: add isCancel type assert
  index.d.ts
Labels: component:typescript, follow-up

#4675 Adding types for progress event callbacks
  index.d.ts
Labels: component:typescript, follow-up
