Repository axios/axios, pull requests merged in 2025-07, with the labels that each got.

#6961 fix #6949: prevent RangeError when using large Buffers in axios requests
  lib/utils.js
  test/unit/utils/utils.js
Labels: pr::fix, pr::code

#6982 feat(adapter): surface low‑level network error details; attach origin…
  index.d.cts
  index.d.ts
  lib/adapters/xhr.js
  lib/core/AxiosError.js
  test/unit/adapters/error-details.spec.js
Labels: pr::feature, pr::types

#5595 fix(types): change the type guard on isCancel
  index.d.ts
Labels: priority::low, pr::fix, pr::types
