Repository axios/axios, pull requests merged in 2025-01, with the labels that each got.

#6770 Added missing colons and period for consistency
  README.md
Labels: priority::low, state::completed

#6757 Fix missing word in SUPPORT_QUESTION.yml
  .github/ISSUE_TEMPLATE/SUPPORT_QUESTION.yml
Labels: priority::low, state::completed

#5935 chore: fix contribution guide
  CONTRIBUTING.md
  sandbox/client.js
Labels: priority::low, code::docs

#5936 Update README.md
  README.md
Labels: priority::low, code::docs

#5949 Reduce the Size of Logo on Intro Page #5948
  sandbox/client.html
Labels: priority::low, code::examples

#5938 fix(examples): application crashed when navigating examples in browser
  examples/server.js
Labels: priority::low, code::examples

#6012 Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: code::docs

#6271 fix: Update CHANGELOG.md for v0.x
  CHANGELOG.md
Labels: priority::low, code::docs

#6129 docs: split long lines, easier for reading
  README.md
Labels: priority::low, code::docs

#6116 chore(docs): Fix documentation for usage of interceptors in axios
  README.md
Labels: priority::low, code::docs

#6312 removal(documentation): remove SECURITY.md
  .npmignore
  SECURITY.md
Labels: priority::low, code::docs

#6480 docs(readme): fix Request Config options code highlight
  README.md
Labels: priority::low, code::docs

#6771 fix: typo in README
  README.md
Labels: priority::low, code::docs
