Repository axios/axios, pull requests merged in 2025-09, with the labels that each got.

#7002 chore: removing dist files from src
  .github/workflows/ci.yml
  .github/workflows/pr-guard.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .gitignore
  CONTRIBUTING.md
  dist/axios.js
  dist/axios.js.map
  dist/axios.min.js
  dist/axios.min.js.map
  dist/browser/axios.cjs
  dist/browser/axios.cjs.map
  dist/esm/axios.js
  dist/esm/axios.js.map
  dist/esm/axios.min.js
  dist/esm/axios.min.js.map
  dist/node/axios.cjs
  dist/node/axios.cjs.map
Labels: pr::fix, pr::docs, pr::github

#7028 refactor: change if in else to else if
  lib/utils.js
Labels: pr::code

#7039 chore(ci): fix missed condition to skip test:package step for ignored files;
  .github/workflows/ci.yml
Labels: pr::github

#7046 docs: fix typos
  SECURITY.md
  test/unit/defaults/transformResponse.js
Labels: pr::fix, pr::docs
