Repository axios/axios, pull requests merged in 2025-08, with the labels that each got.

#5715 fix(params): removing '[' and ']' from URL encode exclude characters …
  lib/helpers/buildURL.js
  test/specs/helpers/buildURL.spec.js
Labels: priority::medium

#5627 fix(package): Fix package exports
  package.json
Labels: priority::medium, pr::fix

#6782 Include custom response headers
  index.d.cts
  index.d.ts
  test/module/typings/cjs/index.ts
  test/module/typings/esm/index.ts
Labels: pr::feature, pr::types

#5926 Feat/5924
  index.d.ts
  lib/defaults/index.js
  test/unit/adapters/http.js
Labels: pr::feature, pr::types

#6998 fix(fetch-adapter): set correct Content-Type for Node FormData
  lib/helpers/resolveConfig.js
  test/unit/adapters/fetch.js
Labels: pr::fix
