Repository axios/axios, pull requests merged in 2025-02, with the labels that each got.

#5901 test(transform): add test case for issue 5853 on response type to 'json'
  test/specs/transform.spec.js
Labels: priority::medium, code::tests

#6030 Fix typo in index.ts
  test/module/typings/cjs/index.ts
Labels: priority::low, code::docs

#6777 Include License Header in Minified JavaScript File
  rollup.config.js
Labels: priority::medium, code::misc

#6192 feat: Add config for ignoring absolute URLs (#5902)
  README.md
  lib/core/Axios.js
  lib/core/buildFullPath.js
  test/specs/core/buildFullPath.spec.js
  test/specs/options.spec.js
Labels: priority::high, code::core
