Repository axios/axios, pull requests merged in 2025-06, with the labels that each got.

#6920 docs(readme): improve error descriptions;
  README.md
Labels: pr::docs

#6923 chore: fix typos in test
  test/module/typings/esm/index.ts
  test/specs/defaults.spec.js
Labels: pr::fix

#6883 fix(adapter): pass fetchOptions to fetch function
  lib/adapters/fetch.js
Labels: follow-up, pr::fix

#6933 fix(package): add RN specific entry point;
  package.json
Labels: pr::feature

#6894 docs(CONTRIBUTING): update documentation link for better accuracy
  CONTRIBUTING.md
Labels: pr::fix, pr::docs
