Repository axios/axios, pull requests merged in 2025-04, with the labels that each got.

#6661 fix(http): send minimal end multipart boundary
  lib/helpers/formDataToStream.js
Labels: priority::high, code::core

#6872 Updated README to correct description of keepAlive option
  README.md
Labels: pr::docs

#6867 Improved fetchOptions interface
  index.d.cts
  index.d.ts
Labels: pr::types, pr::github-actions
